
.jumbotron{
	background: url(../img/heroPic.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
	min-height: 400px;
}

.card {
 min-height: 466px;
}
img {
	min-height: 250px;
	max-height: 250px;
}
.checked {
    color: orange;
}

